* {
    margin: 0;
    background-color: (228, 224, 224, 0.822);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#title {
    font-family: 'Ephesis', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-size: 50px;
}

#btn {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    border-radius: 20px;
	border: 1px solid #3eb684;
	background-color: #83d4b2;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    
}

#trackinfo {
    list-style-type: none;
    padding: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    font-family: 'ephesis';

}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:(228, 224, 224, 0.822);
}

#favs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    border-radius: 5px;
    padding:30px;
}

h2 {
    font-family: 'ephesis', cursive;
    font-size: 40px;
}

li {
    padding-left: 30px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px
}